<%- include("partial/header.ejs") %>


<div class="container">
    <h1 class="article-heading"><%= h %></h1>
    <p class="article-subheading"><%= sh %></p>
    <p class="article-fpara"><%= fp %></p>
    <p class="article-mpara"><%=mp %></p>
    <p class="article epara"><%= ep %></p>
    </div>

    <%- include("partial/footer.ejs") %>